<!DOCTYPE html>
<html>
    {% extends "protons.html" %}
    {% block body %}
<head>
    <title>Add proton</title>
<style>
    .label{
        color: rgba(40, 12, 141, 0.979);
        font-size: 70px;
        text-align: center;
    }

</style>
</head>
<body>
    <style>
        body {
          background-color: rgb(150, 252, 218);
        }

    </style>
    <form method="post" action="/AppProtons">
        <label for="name" col class="label">Enter your name:</label><br>
        <input type="text" id="name" name="protonName" size="30" class="label" required>
        <label for="name" col class="label">Enter your age:</label><br>
        <input type="text" id="name" name="protonAge" size="30" class="label" required> 
        <input type="submit" size="30" class="label"><br><br><br><br><br><br>
    </form>
   
          
    {% endblock %}
</body>
</html>