<!DOCTYPE html>
<html>
<head>
    <title>Add proton</title>
<style>
    .label{
        color: rgba(40, 12, 141, 0.979);
        font-size: 70px;
        text-align: center;
    }

</style>
</head>
<body>
    <style>
        body {
          background-color: rgb(150, 252, 218);
        }

    </style>
    <label for="name" col class="label">Enter your name:</label><br>
    <input type="text" id="proton" name="pname" size="30" class="label">
    <input type="submit" size="30" class="label"><br><br><br><br><br><br>
          
    
</body>
</html>