<!DOCTYPE html>
<html>
    {% extends "protons.html" %}
    {% block body %}
<head>
<title>Delete proton</title>
<style>
    .label{
        color: rgba(12, 141, 23, 0.705);
        font-size: 70px;
        text-align: center;
    }

</style>
</head>
<body>         
    <form method="post" action="/DeleteProton">
        <label1 for="name" col class="label">Enter the proton you want delete it:</label1><br><br>
        <input type="text" id="fname" name="fname" size="10" class="label" required>
        <input type="submit" size="30" class="label" required> 
   </form>
</body>
{% endblock %}
</html>